.btn-unclick {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--light-color);
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
  padding: 5px 30px;
  height: 30px;
  flex-shrink: 0;
}

.button-width {
  min-width: 180px;
  flex: 1;
}

.click-deliver {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 27rem;
}

.clickCollect-selected,
.deliver-selected {
  background-color: var(--second-light);
  color: var(--second-color);
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
  padding: 5px 30px;
  height: 30px;
  flex: 1;
}
.btn-unclick:hover {
  background-color: var(--second-light);
  color: var(--second-color);
}

.btn-unclick:active,
.deliver-selected:active,
.clickCollect-selected:active {
  outline: 1px solid var(--second-light);
  outline-offset: 5px;
}

.h2.deliver {
  padding: 2rem 0 0.5rem 0;
}
