.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container-contact * {
  max-width: 65ch;
  color: var(--dark-color);
}

.container-contact > section > h2 {
  font-size: 2rem;
  color: var(--main-color);
}

.container-contact > section > ul {
  margin-left: 5rem;
}

.container-contact > section > h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--second-color);
}

.container-contact > section > p {
  font-size: 1.1rem;
}
